<section class="section">
    <div class="container">
    <% if (typeof cating == "undefined" ? true : false || !cating){ %>
        <% page.posts.each(function(post){ %>
            <%- partial('common/article', { post, index: true }) %>
        <% }); %>
    <% } %>
    <% if (typeof cating != "undefined" ? true : false && cating){ %>
        <% page.posts.each(function(post){ %>
            <%- partial('common/article', { post, index: true, cating: true }) %>
        <% }); %>
    <% } %>
    <% if (page.total > 1) { %>
        <%- partial('common/paginator') %>
    <% } %>
    </div>
</section>